# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local env
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
*.swp
.idea
.vscode/*
!.vscode/extensions.json

# Vite
*.local
